body {
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, SimSun, "宋体", "Microsoft YaHei", "微软雅黑", sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background-color: #1e1e1e;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
nav.navbar.navbar-fixed-bottom {
  position: fixed;
  bottom: 45px;
  width: 100%;
}
nav.navbar:hover .scroll-nav {
  height: 3px;
}
nav.navbar .container {
  height: 38px;
}
nav.navbar .scroll-nav {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  transition: height 1s;
  overflow: hidden;
}
nav.navbar .scroll-nav ul {
  left: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  transition: width 1s;
}
nav.navbar .scroll-nav ul li {
  position: absolute;
  top: 0px;
  line-height: 38px;
  padding-left: 10px;
}
nav.navbar .scroll-nav ul.bg {
  background-color: #9a8461;
  color: #fff;
  width: 100%;
}
nav.navbar .scroll-nav ul.fg {
  background-color: #fff;
  color: #333;
  width: 20%;
  overflow: hidden;
  margin-right: -3000000px;
}
