@import "variables.less";
@import "mixins.less";

//全网公共样式

body {
  font-family: @font-family-base;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

ul,ol,li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  .container-fixed(0px);
  width: 100%; 
  .clearfix();
}

nav {
  &.navbar {
    border-bottom: 1px solid #9a8461;
    &.navbar-fixed-bottom {
      position: fixed;
      bottom: 45px;
      width: 100%;
    }
    
    .container {
      height: 38px;
    }
    .scroll-nav {
      position: relative;
      bottom: -1px;
      width: 90%;
      height: 100%;
      margin: 0 auto;
      transition: height 1s;
      cursor: pointer;
      font-size: 12px;
      .left-border {
        position: absolute;
        height: 50%;
        width: 2px;
        background-color: #fff;
        left: 0px;
        bottom: -10px
      }
      .right-border {
        position: absolute;
        height: 50%;
        width: 2px;
        background-color: #9a8461;
        right: 0px;
        bottom: -10px
      }
      ul {
        left: 0;
        bottom: 0;
        position: absolute;
        height: 3px;
        transition: width 1s,height 0.8s;
        overflow: hidden;
        li {
          position: absolute;
          top: 0px;
          line-height: 38px;
          height: 100%;
          text-align: center;
          .sub-nav {
            width: 100%;
            height: 100%;
          }
          
        }
        &.bg {
          background-color: #9a8461;
          color: #fff;
          width: 100%;
          li {
            border-right: 1px dashed #000;
          }
          .sub-nav {
            li {
              border-right: 0px dashed #fff;
            }
          }
        }
        &.fg {
          background-color: #fff;
          color: #333;
          overflow: hidden; 
          li {
            border-right: 1px dashed #000;
          }
          .sub-nav {
            li {
              border-right: 0px dashed #fff;
            }
          }
        }
      }
    }
  }
  z-index: 100;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 53px;
  background: rgb(30,30,30); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlMWUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzFlMWUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzFkMWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzFjMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(30,30,30,1) 0%, rgba(30,30,30,1) 83%, rgba(29,29,29,1) 83%, rgba(28,28,28,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,30,30,1)), color-stop(83%,rgba(30,30,30,1)), color-stop(83%,rgba(29,29,29,1)), color-stop(100%,rgba(28,28,28,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(30,30,30,1) 0%,rgba(30,30,30,1) 83%,rgba(29,29,29,1) 83%,rgba(28,28,28,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(30,30,30,1) 0%,rgba(30,30,30,1) 83%,rgba(29,29,29,1) 83%,rgba(28,28,28,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(30,30,30,1) 0%,rgba(30,30,30,1) 83%,rgba(29,29,29,1) 83%,rgba(28,28,28,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(30,30,30,1) 0%,rgba(30,30,30,1) 83%,rgba(29,29,29,1) 83%,rgba(28,28,28,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-8 */
 
  &:hover {
    .scroll-nav {
      ul {
        height: 100%;
        &.bg {
          li {
            transition : all 1.5s 0.5s;
            border-right: 1px dashed #fff;
          }
        }
        &.fg {
          li {
            transition : all 1.5s 0.5s;
            border-right: 1px dashed #9a8461;
          }
        }
      }
    }
  }
}

section {
  &#about-us {
    .container {
       
    }
  }
  &.team {
    .container {
      .container-fixed(100px);
      .col-avator {
        .make-xs-column(5, 0);
        padding-top: 100px;
        img {
          border: 1px solid #ddd;
          width: 300px;
        }
      }
      .col-description {
        .make-xs-column(7, 0);
        padding-top: 100px;
        text-align: left;
        h1 {
          text-align: left;
        }
        h4 {
          text-align: left;
        }
      }
    }
  }
  &.content {
    background: #fff;
    display: none;
    padding-bottom: 53px;
    box-sizing: border-box;
    .container {
      .container-fixed(500px);
      .clearfix();
      position: relative;
      box-sizing: border-box;
      color: #605f5f;
      text-align: center;
      overflow: hidden;
      h3 {
        font-size: 15px;
      }
      p {
        font-size: 15px;
      }
      h1 {
        font-size: 30px;
        font-weight: bold;
        color: #a0a0a0;
        text-align: center;
        strong {
          display:inline-block;
          border-bottom: 3px solid #a0a0a0;
          padding: 16px 40px;
        }
      }
      h4 {
        font-size: 12px;
        text-align: center;
        bottom: 40px;
        strong {
          display:inline-block;
          border-top: 3px solid #a0a0a0;
          padding: 12px 40px;
        }
      }
    }
  }
  &#home {
    article {
      width: 100%;
      height: 100%;
      .clearfix();
      position: absolute;
      left: 0;
      top: 0;
      .icon {
        text-align: center;
        margin: 50px 0;
        position: relative;
      }
      .img {
        position: absolute;
        width: 100%;
        height: 100%;
        &.img-1 {
          background: url(../images/home_01.jpg) no-repeat center center;
          background-size: cover;
        }
      }
      h1 {
        color: #DDD;
        text-align: center;
        .txt {
          display: inline-block;
        }
      }
      .text {
        position: relative;
        width: 600px;
        text-align: center;
        margin: 0 auto;
        margin-top: 100px;
        font-size: 12px;
        h4 {
          text-align: center;
          maring: 0;
          height: 1px;
          strong {
            border-top: 3px solid #fff;
            width: 100px;
            display: inline-block;
          }
        }
        p {
          color: #fff;
        }
      }
    }
  }
  &#welcome {
    overflow: hidden;
    height: 100%;
    position: relative;
    article {
      width: 100%;
      height: 100%;
      .clearfix();
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      .img {
        position: absolute;
        width: 100%;
        height: 100%;
        &.img-1 {
          background: url(../images/welcome_01.jpg) no-repeat center center;
          background-size: cover;
        }
        &.img-2 {
          background: url(../images/welcome_02.jpg) no-repeat center center;
          background-size: cover;
        }
        &.img-3 {
          background: url(../images/welcome_03.jpg) no-repeat center center;
          background-size: cover;
        }
        &.img-4 {
          background: url(../images/welcome_04.jpg) no-repeat center center;
          background-size: cover;
        }
        &.img-5 {
          background: url(../images/welcome_05.jpg) no-repeat center center;
          background-size: cover;
        }
      }
      .text {
        h1,
        p,
        .line {
          position: relative;
        }
        h1 {
          font-family: 'FZLTZH';
          color: #3a3a3a;
          font-size: 24px;
          font-weight: normal;
        }
        p {
          font-family: 'FZLTXH';
          font-size: 24px;
          color: #5d5d5d;
          font-size: 24px;
          strong {
            font-family: 'FZLTTH';
          }
        }
        .line {
          height: 1px;
          background-color: #9d8764; 
        }
        &.text-1 {
          h1 {
            left: 10%;
          }
          p {
            width: 30%;
            left: 10%;
          }
        }
        &.text-2 {
          h1 {
            left: 10%;
            margin-top: 30%;
          }
          p {
            width: 30%;
            left: 10%;
          }
        }
        &.text-3 {
          h1 {
            left: 70%;
            margin-top: 10%;
          }
          p {
            width: 30%;
            left: 70%;
          }
        }
        &.text-4 {
          h1 {
            left: 10%;
            margin-top: 25%;
          }
          p {
            width: 30%;
            left: 10%;
          }
        }
        &.text-5 {
          h1 {
            left: 70%;
            margin-top: 10%;
          }
          p {
            width: 30%;
            left: 70%;
          }
        }
      }
    }
  }
}
